html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav{
    height: 54px;
    left: 0px;
    top: 0px;
    width: auto;
}

nav > .new>.logo{
    flex:auto;
    font-size: 30px;
    color: #448899;
    font-weight: bold;
    font-style: normal;
    font-family: Noto Sans;
    margin-top: 10px;
    position: relative;
    margin-left: 35px;
}

nav > .new>.menu{
    flex:none;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
    margin-right: 25px;
}
.menuout{
    display: none;
    flex:none;
    font-size: 16px;
    color: #666666;
    margin-right: 25px;
}

.new{
    display:flex;
    flex-wrap:wrap; 
    justify-content:center; 
    width: 1200px;
     margin: 0px auto;
}

.view>.profiles{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.view>.profiles>.profile{
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 1%;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
}

.view>.profiles>.profile>a> img{
    height: 200px;
    width: 100%;

}

.view{
    width:1200px;
    max-width: 100%; 
    margin: 0px auto;
}

                    

.background {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    height: 320px;
    right: 0px;
    bottom: 1000px;
    background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    z-index: -1;
}

.title{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    text-shadow: 0px 0px 30px #aabbcc;
    margin-right: 1260px;
    margin-top: 85px;
    margin-right: 40%;
    white-space:nowrap
}

.clasLocate{
    display: flex;
    align-items: center;
    line-height: 17px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    color: #757575;
    font-size: 16px;
    margin-left: 10px;
}

.classMRT{
    float: left;
    margin-left: 10px;
    font-size: 16px;
    margin-top: 25px;
    color: #757575;
    margin-bottom: 10px
}

.classCate{
    float: right;
    margin-right: 10px;
    font-size: 16px;
    margin-top: 25px;
    color: #757575;
    margin-bottom: 10px
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0px;
    background: #757575;
    margin-top: 70px;
    padding: 50px;
    font-size: 16px;
    color: #FFFF;
    font-weight: bold;
    }

.divscr{
    margin-right: 55%;
    width: 485px;
    line-height: 45px;
}

.subtitle{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #F8F8F8;
    white-space:nowrap;
}

.inputdiv > input{
    border-width: 0px;
    height: 35px;
    width: 400px;
    border-radius: 5px;
    font-weight: bold;
}

.imgdiv > .imggreen{
    height: 35px;
    position: relative;
    top: -35px;
    left: 365px;
    z-index: 0;
}

.imgdiv > .imgsee{
    z-index: 1;
    position: relative;
    top: -37px;
    left: 408px;
    cursor: pointer;
}

.cetralpic{
    position: relative;
    bottom: 262px;
    left: 540px;
}

.house > img{
    position: relative;
    left: 500px;
    bottom: 261px;
    }

.menutype{
    display: flex;
    font-size: 16px;
    color: #666666;
    margin-top: 20px;
    cursor: pointer;
}

.cls_signin{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    margin: 0px 0 15px 25%;
    color: #666666;
    }

.signin_content > input,.signup_content > input{
    height: 47px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 5px;
    width: 310px;
}
.signin_content > button ,.signup_content > button {
    width: 310px;
    height: 47px;
    left: 0px;
    top: 156px;
    background: #448899;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    cursor: pointer;
}
#nosignin{text-align: center; margin-bottom: -5px;cursor: pointer;}
#nosignup{text-align: center; margin-bottom: -5px;cursor: pointer;}

/* The Modal background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black opacity */
}

/* Modal Content */
.signin_content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 310px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
}

/* Modal Content */
.signup_content {
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 310px;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
}


/* The Close Button */
.close {
    width: 16px;
    height: 16px;
    margin: 0px 0 0 20%;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.error_msg{
    display: none;   
    text-align: center;
    margin: 10px 0 -9px 0;
    color: red;
}

@media screen and  (min-width:1001px) and (max-width:1200px){
    .view>.profiles {
        flex-wrap:wrap;
    }
    .view>.profiles>.profile {
        width:35%;
        margin:3%
    }
    .title{
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #F8F8F8;
        text-shadow: 0px 0px 30px #aabbcc;
        margin-right: 1260px;
        margin-top: 85px;
        margin-right: 75%;
        white-space:nowrap
    }

    .new{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        margin: 0px auto;
    }

    .view{
        width: 90%;
        margin: 0px auto;
    }

    .divscr {
        width: 485px;
        line-height: 45px;
        margin-right: 45%;
    }


    .house {
        position: relative;
        top: -207px;
        left: 390px;
    }

    .house > img{
        width: 120%;
        position: relative;
        top: 0px;
        left: -10px;
    }


    
 }

 @media screen and  (min-width:851px) and (max-width:1000px){
    .divscr {
        margin-right: 41%;
        width: 485px;
        line-height: 45px;
    }
    .view>.profiles>.profile {
        width:35%;
        margin:3%
    }
    .new {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        margin: 0px auto;
    }
    .house > img{
        position: relative;
        left: 378px;
        bottom: 132px;
        width: 80%;
    }

 }

 @media screen and  (min-width:601px) and (max-width:850px){
    .new {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: auto;
        margin: 0px auto;
    }
    .view>.profiles>.profile {
        width:35%;
        margin:3%
    }
    .inputdiv > input {
        border-width: 0px;
        height: 35px;
        width: 350px;
    }
    .imgdiv > .imgsee {
        z-index: 2;
        position: relative;
        top: -37px;
        left: 355px;
        cursor: pointer;
    }

    .imgdiv > .imggreen {
        height: 35px;
        position: relative;
        top: -35px;
        left: 313px;
        z-index: 1;
    }
    .divscr {
        position: relative;
        left: 10%;
        width: 485px;
        line-height: 45px;
    }
    .house > img{
        width: 110%;
        z-index: 0;
        top: -144px;
        left: 278px;
        }
    .background {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        width: auto;
        height: 320px;
        right: 0px;
        bottom: 1000px;
        background: linear-gradient( 135deg , #AADDEE 0%, #66AABB 100%);
        z-index: -2;
    }

        
 }


@media screen and (max-width:600px){
    
    .background {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        width: auto;
        height: 320px;
        right: 0px;
        bottom: 1000px;
        background: linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
        z-index: -2;
    }
    .view>.profiles {
        flex-wrap:wrap;
    }
    .view>.profiles>.profile {
        width: 322px;
        height: 280px;
    }
    .view>.profiles>.profile> img {
        height: 202px;      
    }

    .title{
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #F8F8F8;
        text-shadow: 0px 0px 30px #aabbcc;
        margin-right: 1260px;
        margin-top: 85px;
        margin-right: 40%;
        white-space:nowrap;
     }
    .classMRT{
        float: left;
        margin-left: 10px;
        font-size: 16px;
        margin-top: 15px;
        color: #757575;
    }
    
    .classCate{
        float: right;
        margin-right: 10px;
        font-size: 16px;
        margin-top: 15px;
        color: #757575;
    }

    .new{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 370px;
        margin: 0px auto auto -6px;

    }
    .imgdiv > .imgsee {
        z-index: 2;
        position: relative;
        top: -37px;
        left: 205px;
        cursor: pointer;
    }
  

    .imgdiv > .imggreen {
        height: 35px;
        position: relative;
        top: -35px;
        left: 165px;
        z-index: 1;
    }
    .house > img{
        width: 256px;
        position: relative;
        top: -46px;
        left: 47px;
        }

    .divscr {
        line-height: 45px;
        margin-right: 0%;
        margin-left: 60px;
     }

    .inputdiv > input {
        border-width: 0px;
        height: 35px;
        width: 200px;
    }
   
    .menutype{
            display: flex;
            font-size: 16px;
            color: #666666;
            margin-top: 20px;
            margin-right: -5px;
    }
    nav > .new>.logo {
        flex: auto;
        font-size: 30px;
        color: #448899;
        font-weight: bold;
        font-style: normal;
        font-family: Noto Sans;
        margin-top: 10px;
        position: relative;
    }


    #nosignin{margin-left: -10%;margin-bottom: -5px;cursor: pointer;}
    #nosignup{margin-left: -10%;margin-bottom: -5px;cursor: pointer;}
    #errmsg{display: none;}
    .error_msg {
        display: none;
        text-align: center;
        margin: 10px 0 -9px -40px;
        color: red;
    }
}
