    <!DOCTYPE html>
    <html>
        <head>
        <link rel="stylesheet" type="text/css" href="/css/attraction.css" />
        <meta charest="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0"/>
        <title>台北一日遊</title>
        <script src="js/attraction.js"></script>    
        <script src="js/template.js"></script>  
        </head>

        <body>
            <nav>
                <div class="new">
                    <div class="logo" onclick="returnIndex()">台北一日遊</div>
                    <div class="menutype">
                        <div class="menu" onclick="gobooking()">預定行程</div> &nbsp;&nbsp;
                        <div id="signin" class="menu" onclick="clicksignin()">登入/註冊</div> &nbsp;
                        <div id="signout"  class="menuout" onclick="clicksignout()">登出系統</div> 

                    </div>
                </div>
            </nav>
			
			<div class="content">
				<div id="container">
                    <div id="list" style="left:-600px;" class="classList"></div>
                    <a href="javascript:;" id="prev" class="arrow" style="text-decoration:none;">&lt;</a>
                    <a href="javascript:;" id="next"  class="arrow" style="text-decoration:none;">&gt;</a>
				</div>
				
				<div class="info">
					<span class="classTitle" id="title" style="display: block;"></span>
					<span class="classSubtitle" id="subtitle" style="display: block;"></span>
					<div class="booking">
						<p class="bookSub">訂購導覽行程</p>
						<p class="subContent">以此景點為中心的一日行程，帶您探索城市角落故事</p>
						
						<div style="display:flex"><p class="bookSub">選擇日期：</p><input id="datetime" type="date" style="height: 31px;margin-top:7px;border: none;"><br></div>
						
						<div  class="time" style="display:flex">
							<p class="bookSub">選擇時間： </p>
							<div class="rbt_time" style="margin-top: 4px;">
                                <label>
                                    <input id="date_m" type="radio" name="demo-radio" class="demoHidden" onclick="radioClick(this)" value="morning" checked>
                                    <span class="radioInput"></span>上半天 
                                </label>
                                <label>
                                    <input id="date_n" type="radio" name="demo-radio" class="demoHidden"  onclick="radioClick(this)" value="afternoon">
                                    <span class="radioInput"></span>下半天
                                </label>
                            
							</div>
						</div>
						<div style="display: flex;margin-top: -18px;">
							<p class="bookSub">導覽費用：</p><p class="subContent" id="radio_value" style="margin-top: 29px;"><p><br>
						</div>
				
						<button type="button" onclick="startbook()">開始預訂行程</button>
					</div>
				</div>
				
				
			
			</div>
            
			<hr id="hr" size="1px" text-align="center">
			
			<div class="placeIntro">
				<div class="classSubtitle" id="introduce" style="line-height:24px"></div><br>
				<p class="bookSub">景點地址：</p>
				<div class="classSubtitle"id="address"></div><br>
				<p class="bookSub">交通方式：</p>
				<div class="classSubtitle" id="transport"></div>
			</div>
     

            <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
              
            <!-- The Modal -->
            <div id="myModal" class="modal">

                    <!-- Modal signin content -->
                    <div id="signin_content" class="signin_content">
                        <div style="display:flex;">
                            <p class="cls_signin">登入會員帳號</p>
                            <img class="close"  id="close" src="/icon_close.png" >
                        </div>
                        <input type="text" id="id_email" placeholder="輸入電子信箱"><br><br>
                        <input type="password" id="id_pwd" placeholder="輸入密碼"><br><br>
                        <button onclick="btn_signin()">登入帳戶</button><br>
                        <label id="errmsg_login" class="error_msg"></label>
                        <p id="nosignin" onclick="signup()">還沒有帳戶？點此註冊</p>
                    </div>
                    <!-- Modal signup content -->   
                    <div id="signup_content" class="signup_content">
                        <div style="display:flex;">
                            <p class="cls_signin">註冊會員帳號</p>
                            <img class="close" id="signupclose" src="/icon_close.png" >
                        </div>
                        <input type="text" id="sign_name" placeholder="輸入姓名"><br><br>
                        <input type="text" id="sign_email" placeholder="輸入電子信箱"><br><br>
                        <input type="password" id="sign_pwd" placeholder="輸入密碼"><br><br>
                        <button onclick="btn_signup()">註冊新帳戶</button><br>
                        <label id="errmsg" class="error_msg"></label>
                        <p id="nosignup" onclick="haveAccount()">已經有帳戶了？點此登入</p>
                    </div>
    
    
                </div>
        </body>
    </html>
