<!DOCTYPE html>
    <html>
        <head>
            <meta charest="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0"/>
            <title>台北一日遊</title>
            <link rel="stylesheet" type="text/css" href="css/booking.css" />
            <script src="js/attraction.js"></script>    
            <script src="js/template.js"></script>  
            <script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
        </head>
        <body>
            <nav>
                <div class="new">
                    <div class="logo" onclick="returnIndex()">台北一日遊</div>
                    <div class="menutype">
                        <div class="menu"  onclick="gobooking()">預定行程</div> &nbsp;&nbsp;
                        <div id="signin" class="menu" onclick="clicksignin()">登入/註冊</div> &nbsp;
                        <div id="signout"  class="menuout" onclick="clicksignout()">登出系統</div> 
                    </div>
                </div>
            </nav>
			
			
			<div class="title" id="welcome"></div>
            <div id="nobooking" style="text-align: center; margin-top: 50px;"></div>
            <div id="isbooking">
                <div class="contentbox">			
                    <div class="pic">
                        <img id="picture">
                    </div>
                    <div class="content">
                        <div id="subtitle" class="subtitle" style="color: #448899;margin-bottom: 10px"></div>
                        <div class="contentline"><p class="subtitle">日期：</p><p id="date" class="subcontent"></p></div>
                        <div class="contentline"><p class="subtitle">時間：</p><p id="time" class="subcontent"></p></div>
                        <div class="contentline"><p class="subtitle">費用：</p><p id="price" class="subcontent"></p></div>
                        <div class="contentline"><p class="subtitle">地點：</p><p id="address" class="subcontent"></p></div>
                        <div class="deletepic" onclick="deletebook()"><img src="image/icon_delete.png"></div>
                    </div>
                </div>
                
                <hr id="hr" size="1px" style="margin-top:40px">
                    <form> 
                        <div class="title">您的聯絡資料</div>
                        <div class="info">
                            <div class="contentline inputbox"><p class="subtitle">聯絡姓名：</p><input type="text" id="username"></div>
                            <div class="contentline inputbox"><p class="subtitle">聯絡信箱：</p><input type="text" id="usermail"></div>
                            <div class="contentline inputbox"><p class="subtitle">手機號碼：</p><input type="text" id="phone" onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')"></div>
                            <div class="subtitle">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
            
                        </div>
                    
                        
                        <hr id="hr" size="1px" style="margin-top:40px">
                      
                        <div class="title">信用卡付款資訊</div>
                        <div class="info">
                            <div class="contentline inputbox">
                                <p class="subtitle">卡片號碼：</p>
                                <div class="tpfield" id="card-number"></div>
                            </div>
                            <div class="contentline inputbox">
                                <p class="subtitle">過期時間：</p>
                                <div class="tpfield" id="card-expiration-date"></div>
                            </div>
                            <div class="contentline inputbox">
                                <p class="subtitle">驗證密碼：</p>
                                <div class="tpfield" id="card-ccv"></div>
                            </div>
                        </div>
                        
                        <hr id="hr" size="1px" style="margin-top:40px">
                        
                        <div class="booking">
                            <div><p id="totalprice"></p></div>
                            <button type="submit" id="btn_submit">確認訂購並付款</button>
                        </div>
                    </form>
            </div>
                <div id="footer" class="footer">COPYRIGHT © 2021 台北一日遊</div>
    
                <div id="processModel" class="modal">
                    <label style="color: #FFFFFF;"> 處理中 </label>

                </div>

                      <!-- The Modal -->
                    <div id="myModal" class="modal">
    
                        <!-- Modal signin content -->
                        <div id="signin_content" class="signin_content">
                            <div style="display:flex;">
                                <p class="cls_signin">登入會員帳號</p>
                                <img class="close"  id="close" src="image/icon_close.png" >
                            </div>
                            <input type="text" id="id_email" placeholder="輸入電子信箱"><br><br>
                            <input type="password"  id="id_pwd" placeholder="輸入密碼"><br><br>
                            <button onclick="btn_signin()">登入帳戶</button><br>
                            <label id="errmsg_login" class="error_msg"></label>
                            <p id="nosignin" onclick="signup()">還沒有帳戶？點此註冊</p>
                        </div>
                        <!-- Modal signup content -->   
                        <div id="signup_content" class="signup_content">
                            <div style="display:flex;">
                                <p class="cls_signin">註冊會員帳號</p>
                                <img class="close" id="signupclose" src="image/icon_close.png" >
                            </div>
                            <input type="text" id="sign_name" placeholder="輸入姓名"><br><br>
                            <input type="text" id="sign_email" placeholder="輸入電子信箱"><br><br>
                            <input type="password" id="sign_pwd" placeholder="輸入密碼"><br><br>
                            <button onclick="btn_signup()">註冊新帳戶</button><br>
                            <label id="errmsg" class="error_msg"></label>
                            <p id="nosignup" onclick="haveAccount()">已經有帳戶了？點此登入</p>
                        </div>
                    </div>
           
			<script>
                  // 以下提供必填 CCV 以及選填 CCV 的 Example
        // 必填 CCV Example
        let fields = {
            number: {
                // css selector
                element: '#card-number',
                placeholder: '**** **** **** ****'
            },
            expirationDate: {
                // DOM object
                element: document.getElementById('card-expiration-date'),
                placeholder: 'MM / YY'
            },
            ccv: {
                element: '#card-ccv',
                placeholder: 'CCV'
            }
        }
        
        TPDirect.card.setup({
                fields: fields,
                styles: {
                    'input': {
                        'color': 'gray'
                    },
                    'input.ccv': {
                        'font-size': '16px'
                    },
                    'input.expiration-date': {
                         'font-size': '16px'
                    },
                    'input.card-number': {
                         'font-size': '16px'
                    },
                    ':focus': {
                         'color': 'black'
                    },
                    '.valid': {
                        'color': 'green'
                    },
                    '.invalid': {
                        'color': 'red'
                    },
                    '@media screen and (max-width: 400px)': {
                        'input': {
                            'color': 'orange'
                        }
                    }
                }
            })
                
               //實作 TPDirect.card.onUpdate，得知目前卡片資訊的輸入狀態
               TPDirect.card.onUpdate(function (update)
                {
                    var submitButton = document.querySelector('#btn_submit')

                    if (update.canGetPrime) {
                        submitButton.removeAttribute('disabled')
                    } else {
                        submitButton.setAttribute('disabled', true)
                    }

                })


                   //點選訂購並付款
                document.querySelector('#btn_submit').addEventListener('click', function(event) 
                {   
                       let u_email=document.getElementById("usermail").value;
                
                        if(!u_email.includes("@"))
                        {
                            alert("信箱格式有誤")
                            return;
                        }
                        event.preventDefault();
                        TPDirect.card.getPrime(function(result) 
                        {
                            console.log(JSON.stringify(result, null, 4))
                            if(result.status != 0)
                            {
                                alert("刷卡有錯")
                                return;
                            }
                            let card_prime = result.card.prime;
                            let req = new XMLHttpRequest();
                            req.open("POST","/api/orders")
                            req.setRequestHeader('Content-type', 'application/json');
                            let username=document.getElementById("username").value;
                            let usermail=document.getElementById("usermail").value;
                            let phone=document.getElementById("phone").value;
                            let orders={
                                        prime: card_prime,
                                        order: {
                                                price: p_price,
                                                trip: {
                                                attraction: {
                                                id: p_id,
                                                name: p_name,
                                                address: p_address,
                                                image: p_image
                                                },
                                                date: p_date,
                                                time: p_time
                                                },
                                                contact: {
                                                name: username,
                                                email: usermail,
                                                phone: phone
                                                }
                                            }
                                        }
                                        let data = JSON.stringify(orders);
                                        req.send(data);
                                    req.onload=function()
                                        {
                                            let back = JSON.parse(this.response);
                                            if(Object.keys(back)[0] != "error")
                                            {
                                                num=back["data"]["number"]
                                                alert("付款成功！")
                                                self.location="/thankyou?number="+num;
                                            }
                                            else
                                            {
                                                alert("付款失敗！請聯絡管理人員")
                                            }
                                        }
                        })
                })

            </script>

        </body>
    </html>
