    <!DOCTYPE html>
    <html>
        <head>
            <meta charest="utf-8" name="viewport" content="width=device-width, initial-scale=1, user-scalable=1.0"/>
            <title>台北一日遊</title>
            <link rel="stylesheet" type="text/css" href="css/thankyou.css" />
            <script src="js/template.js"></script>
            <script src="js/thankyou.js"></script>    
        </head>

        <body>
            <nav>
                <div class="new">
                    <div class="logo" onclick="returnIndex()">台北一日遊</div>
                    <div class="menutype">
                        <div class="menu"  onclick="gobooking()">預定行程</div> &nbsp;&nbsp;
                        <div id="signin" class="menu" onclick="clicksignin()">登入/註冊</div> &nbsp;
                        <div id="signout"  class="menuout" onclick="clicksignout()">登出系統</div> 
                    </div>
                </div>
            </nav>
            
       
            <div id="ordernum"></div>

            <div class="footer">COPYRIGHT © 2021 台北一日遊</div>


            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal signin content -->
                <div id="signin_content" class="signin_content">
                    <div style="display:flex;">
                        <p class="cls_signin">登入會員帳號</p>
                        <img class="close"  id="close" src="image/icon_close.png" >
                    </div>
                    <input type="text" id="id_email" placeholder="輸入電子信箱"><br><br>
                    <input type="password"  id="id_pwd" placeholder="輸入密碼"><br><br>
                    <button onclick="btn_signin()">登入帳戶</button><br>
                    <label id="errmsg_login" class="error_msg"></label>
                    <p id="nosignin" onclick="signup()">還沒有帳戶？點此註冊</p>
                </div>
                <!-- Modal signup content -->   
                <div id="signup_content" class="signup_content">
                    <div style="display:flex;">
                        <p class="cls_signin">註冊會員帳號</p>
                        <img class="close" id="signupclose" src="image/icon_close.png" >
                    </div>
                    <input type="text" id="sign_name" placeholder="輸入姓名"><br><br>
                    <input type="text" id="sign_email" placeholder="輸入電子信箱"><br><br>
                    <input type="password" id="sign_pwd" placeholder="輸入密碼"><br><br>
                    <button onclick="btn_signup()">註冊新帳戶</button><br>
                    <label id="errmsg" class="error_msg"></label>
                    <p id="nosignup" onclick="haveAccount()">已經有帳戶了？點此登入</p>
                </div>
            </div>

        </body>
    </html>